# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
venv/
.env
.env.*

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Model / Cache files
# --------------------
*.onnx
*.pt
*.pth
.cache/
rembg_cache/

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.iml

# --------------------
# Temporary files
# --------------------
*.tmp
*.bak
